/* Thank you for using My Glitchcord theme. This is the loader for Glitchcord. Using this means you shouldn't need to download anything else because this just imports the resources. */

/**
 * @name Glitchcord
 * @author Ga.av
 * @description [ğ—§ğ—µğ—²ğ—ºğ—² ğ—Ÿğ—¼ğ—®ğ—±ğ—²ğ—¿] A sleek, dark-mode Discord theme featuring a bold red accent, inspired by the creator's signature style and branding.
 * @website https://gvnx.xyz/
 * @invite xRRhmYNkya
 * @source https://github.com/GavCreator/Glitchcord/
**/

@import url('https://github.com/GavCreator/Glitchcord/raw/refs/heads/main/Glitchcord.css');