/**
 * @name Glitchcord
 * @author Ga.av
 * @description A sleek, dark-mode Discord theme featuring a bold red accent, inspired by the creator's signature style and branding.
 * @website https://gvnx.xyz/
 * @invite xRRhmYNkya
 * @source https://github.com/GavCreator/Glitchcord/
 * @version v1.0.6
**/

@import url('https://github.com/GavCreator/Glitchcord/raw/refs/heads/main/Base.css');

:root {
  --home-image: url('https://github.com/GavCreator/Glitchcord/blob/main/images/Glitchys%20Eye.png?raw=true');
  --home-image-hover: url('https://github.com/GavCreator/Glitchcord/blob/main/images/Glitchys%20Eye.gif?raw=true');
  --accent: 187,34,34; /* #BB2222 */
  --accent-alt: 187,51,51; /* #BB3333 */
  --background-solid: #111111;
  /* --background-solid-dark: #232323;
  --background-solid-darker: #232323; */
  --background-solid-dark: #4ddd0a;
  --background-solid-darker: #003cff;
}

/* Any custom CSS below here */


